/* .login{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */
.container{
  display:flex;
  flex:1;
  height:500px;
  width:800px;
  border:1px solid black;
  margin:auto;
  margin-top:50px;
}
.form{
  display:flex;
  flex-direction:column;
  width:50%;
  align-items: center;
  background-color: whitesmoke;

}
.form h2{
  font-size: 3rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin:40px;
}
.box{
  padding:12px;
  width:65%;
  margin:15px;
  border:1px solid black;
  outline:none;
  border-radius:20px;
}
#submit{
  padding:12px 18px;
  width:40%;
  margin-top:40px;
  background-color: black;
  color:white;
  font-weight:bold;
  border:none;
  border-radius:20px;
}
#submit:hover{
  cursor:pointer;
  background-color: rgb(81, 79, 79);
}
.form a{
  text-decoration:none;
  color: black;
  margin-top: 20px;

}
.form a:hover{
  text-decoration: underline;
  color:blue;
}
.side{
  display:flex;
  
  justify-content: center;
  align-items: center;
  width:50%;
}
.side img{
  height: 420px;
  width: 390px;
}
@media(max-width:815px) {
  .container{
    width: 100%;
  }
  .side img{
    width:100%;
  }
  .side{
    width:90%;
  }
  .box{
    width:80%;
  }
  #submit{
    width:60%;
  }
}
@media(max-width:815px) {
  .container{
    width: 100%;
  }
  .side img{
    width:100%;
  }
  .side{
    width:90%;
  }
  .box{
    width:80%;
  }
  #submit{
    width:60%;
  }
}

